<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${auto.getType().getBrand() + ' ' + auto.getType().getModel()}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="m-4">
<div class="masthead">
    <h1 class="masthead-heading">Autocamper detaljer</h1>
    <button type="button" class="btn btn-secondary">Tilbage</button>
</div>

<br>
<div class="row ">
    <div class="form-group col ml-auto card">
        <h1 class="card-header">Standart Udstyr</h1>
        <ul class="list-group list-group-flush">
            <li th:each="feature : ${auto.getType().getBuiltInFeatures()}">
                <div style="white-space:nowrap">
                    <img  th:src="${feature.getIcon() != null}? ${feature.getIcon()} : '/img/symbols/noSymbol.png'" style="display:inline" height="20" width="20" src="img/transportation.png" class="bd-placeholder-img img-fluid" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"/>
                    <p th:text="${feature.getName()}" style="display:inline; text-align: center">#</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="col ml-auto card">
        <h1 class="card-header">Detaljer</h1>
        <ul>
            <li>
                <th>Mærke:</th>
                <td th:text="${auto.getType().getBrand()}">#</td>
            </li>
            <li>
                <th>Model:</th>
                <td th:text="${auto.getType().getModel()}">#</td>
            </li>
            <li>
                <th>Kr/dag:</th>
                <td th:text="${auto.getType().getPrice()}">#</td>
            </li>
            <li>
                <th>Hestekrafter:</th>
                <td th:text="${auto.getType().getHorsePower()}">#</td>
            </li>
            <li>
                <th>Max fart:</th>
                <td th:text="${auto.getType().getMaxSpeed()}">#</td>
            </li>
            <li>
                <th>Produktions år:</th>
                <td th:text="${auto.getType().getProductionYear()}">#</td>
            </li>
            <li>
                <th>Tank størrelse:</th>
                <td th:text="${auto.getType().getFuelCapacity()}">#</td>
            </li>
            <li>
                <th>Højde:</th>
                <td th:text="${auto.getType().getHeight()}">#</td>
            </li>
            <li>
                <th>Længde:</th>
                <td th:text="${auto.getType().getLength()}">#</td>
            </li>
            <li>
                <th>Bredte:</th>
                <td th:text="${auto.getType().getWidth()}">#</td>
            </li>
            <li>
                <th>Kvadrat meter:</th>
                <td th:text="${auto.getType().getArea()}">#</td>
            </li>
            <li>
                <th>Indendørs højde:</th>
                <td th:text="${auto.getType().getStandingHeight()}">#</td>
            </li>
            <li>
                <th>Vægt:</th>
                <td th:text="${auto.getType().getWeight()}">#</td>
            </li>
        </ul>
    </div>
</div>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Beskrivelse:</span>
    </div>
    <textarea disabled rows="8" class="form-control" aria-label="With textarea" th:text="${auto.getType().getDescription()}"></textarea>
</div>
<br>
<div>
    <a href=""><button type="button" class="btn btn-success w-25">Udlej</button></a>
</div>

<br><br>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>