<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="m-4">
<div>
    <h1>Autocamper detaljer</h1>
    <button type="button" class="btn btn-secondary">Tilbage</button>
</div>

<br>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <table class="table table-sm table-bordered table-dark">
                <h5>Specificationer</h5>
                <tr >
                    <td>Mærke:</td>
                    <td>THYMELEAF HERE</td>
                </tr>
                <tr >
                    <td>Model:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Kr/dag:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Hestekrafter:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Max fart:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Produktions år:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Tank størrelse:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Højde:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Længde:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Bredte:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Kvadrat meter:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Indendørs højde:</td>
                    <td>#</td>
                </tr>
                <tr >
                    <td>Vægt:</td>
                    <td>#</td>
                </tr>
            </table>
        </div>
        <div class="form-group col-md-5 ml-auto">
            <table class="table table-bordered table-dark">
                <h5>Standardudstyr</h5>
                <tr>
                    <th>name this col</th>
                    <th>Picture icon this col</th>
                </tr>
                <tr>
                    <td>THYMELEAFE</td>
                    <td>THRYMELEAF</td>
                </tr>
            </table>
        </div>
    </div>
</form>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Beskrivelse:</span>
    </div>
    <textarea rows="8" class="form-control" aria-label="With textarea"></textarea>
</div>
<br>
<div>
    <a href=""><button type="button" class="btn btn-success w-25">Udlej</button></a>
</div>

<br><br>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>