<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body class="ml-4 mt-4 mr-4 mb-4">
<h1>Raporter Status</h1>
<a href="/user/finishedrentals"><button type="button" class="btn btn-secondary">Tilbage</button></a>
<br><br>
<div>
    <table class="table" >
        <thead>
        <tr>
            <th scope="col">Kunde Navn</th>
            <th scope="col">Autocamper id</th>
            <th scope="col">Mærke</th>
            <th scope="col">model</th>
            <th scope="col">Start Dato</th>
            <th scope="col">Slut Dato</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th:block th:each="rental : ${rentals}">
                <th:block th:if="${rental.getAutocamperId()} == ${ids.getId()}">
                    <th:block th:each="customer : ${customers}">
                        <th:block th:if="${rental.getCustomerId()} == ${customer.getId()}">
                            <td scope="row" th:text="${customer.getFirstName()+ ' ' + customer.getLastName()}"></td>
                            <td th:text="${ids.getId()}"></td>
                            <td th:text="${ids.getType().getBrand()}"></td>
                            <td th:text="${ids.getType().getModel()}"></td>
                            <td th:text="${rental.getStartDate()}"></td>
                            <td th:text="${rental.getEndDate()}"></td>
                        </th:block>
                    </th:block>
                </th:block>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>

<br>
<div>

    <form action="/user/fillMaintenanceReport" method="post">
        <h5>Kundens forbrug:</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-add">Kilometer tilstand</span>
            </div>
            <input type="number" name="fuel_gauge" class="form-control" placeholder="Indtast her" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Benzin mængde ved aflevering (0-100%)</span>
            </div>
            <input type="number" name="mileage" class="form-control" placeholder="Indtast her" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <h5>Kontrol af mekaniske egenskaber:</h5>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Karosseri</label>
                    <select name="partStatus['frame']" class="form-control" id="exampleFormControlSelect1">
                        <option value="1">Functional</option>
                        <option value="2">Needs Repair</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Dæk</label>
                    <select name="partStatus['wheels']" class="form-control" id="exampleFormControlSelect2">
                        <option value="1">Functional</option>
                        <option value="2">Needs Repair</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="exampleFormControlSelect3">Batteri</label>
                    <select name="partStatus['battery']" class="form-control" id="exampleFormControlSelect3">
                        <option value="1">Functional</option>
                        <option value="2">Needs Repair</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="exampleFormControlSelect4">Bremser</label>
                    <select name="partStatus['brakes']" class="form-control" id="exampleFormControlSelect4">
                        <option value="1">Functional</option>
                        <option value="2">Needs Repair</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="exampleFormControlSelect5">Støddæmpere</label>
                    <select name="partStatus['suspention']" class="form-control" id="exampleFormControlSelect5">
                        <option value="1">Functional</option>
                        <option value="2">Needs Repair</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="exampleFormControlSelect6">Lygter</label>
                    <select name="partStatus['lights']" class="form-control" id="exampleFormControlSelect6">
                        <option value="1">Functional</option>
                        <option value="2">Needs Repair</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="exampleFormControlSelect7">Interiør</label>
                    <select name="partStatus['interior']" class="form-control" id="exampleFormControlSelect7">
                        <option value="1">Functional</option>
                        <option value="2">Needs Repair</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="exampleFormControlSelect8">Olie</label>
                    <select name="partStatus['oil']" class="form-control" id="exampleFormControlSelect8">
                        <option value="1">Functional</option>
                        <option value="2">Needs Repair</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="exampleFormControlSelect9">Kølervæske</label>
                    <select name="partStatus['coolingflued']" class="form-control" id="exampleFormControlSelect9">
                        <option value="1">Functional</option>
                        <option value="2">Needs Repair</option>
                    </select>
                </div>
            </div>
        </div>
        <h5>Kommentarer til stand af autocamper</h5>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Kommentar:</span>
            </div>
            <textarea name="maintenance_notes" class="form-control" aria-label="With textarea"></textarea>
        </div><br>

        <div class="row">
            <div class="col-md-2">
                <label for="repPrice">Reperations pris:</label>
                <input name="repair_cost" type="text" class="form-control" id="repPrice" placeholder="Indtast pris">
            </div>
            <div class="col-md-2">
                <label for="cleaningPrice">Rengørings pris:</label>
                <input name="cleaning_price" type="text" class="form-control" id="cleaningPrice" placeholder="Indtast pris">
            </div>
        </div>
        <br>

        <button type="submit" class="btn btn-success">Godkend</button>
    </form><br>

</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>