<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body class="ml-4 mt-4 mr-4 mb-4">
<h1>Raporter Status</h1>
<a href="/user/finishedrentals"><button type="button" class="btn btn-secondary">Tilbage</button></a>
<br><br>
<div>
    <table class="table" >
        <thead>
        <tr>
            <th scope="col">Kunde Navn</th>
            <th scope="col">Autocamper id</th>
            <th scope="col">Mærke</th>
            <th scope="col">model</th>
            <th scope="col">Start Dato</th>
            <th scope="col">Slut Dato</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th:block th:each="rental : ${rentals}">
                <th:block th:if="${rental.getAutocamperId()} == ${ids.getId()}">
                    <th:block th:each="customer : ${customers}">
                        <th:block th:if="${rental.getCustomerId()} == ${customer.getId()}">
                            <td scope="row" th:text="${customer.getFirstName()+ ' ' + customer.getLastName()}"></td>
                            <td th:text="${ids.getId()}"></td>
                            <td th:text="${ids.getType().getBrand()}"></td>
                            <td th:text="${ids.getType().getModel()}"></td>
                            <td th:text="${rental.getStartDate()}"></td>
                            <td th:text="${rental.getEndDate()}"></td>
                        </th:block>
                    </th:block>
                </th:block>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>

<br>
<div>

    <form action="/user/fillMaintenanceReport" method="post">
        <h5>Kundens forbrug:</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-add">Kilometer tilstand</span>
            </div>
            <input type="number" name="fuel_gauge" class="form-control" placeholder="Indtast her" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Benzin mængde ved aflevering (0-100%)</span>
            </div>
            <input type="number" name="mileage" class="form-control" placeholder="Indtast her" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <h5>Kontrol af mekaniske egenskaber:</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="frame" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control" aria-label="Text input with checkbox">Karosseri</label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="wheels" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control" aria-label="Text input with checkbox">Dæk</label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="battery" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control" aria-label="Text input with checkbox">Batteri</label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="breaks" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control" aria-label="Text input with checkbox">Bremser</label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="suspenstion" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control" aria-label="Text input with checkbox">Støddæmpere</label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="lights" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control" aria-label="Text input with checkbox">Lygter</label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="interior" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control" aria-label="Text input with checkbox">Interiør</label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="oil" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control" aria-label="Text input with checkbox">Olie</label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="coolingflued" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control" aria-label="Text input with checkbox">Kølervæske</label>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Kommentar:</span>
            </div>
            <textarea name="maintenance_notes" rows="5" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <br>
        <h5>Indtast den samlede reperationspris</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Reperationspris</span>
            </div>
            <input type="number" name="repair_cost" class="form-control" placeholder="Indtast pris her" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control" aria-label="Text input with checkbox">Check denne boks af hvis autocamper skal til reperation</label>
        </div>

        <button type="submit" class="btn btn-success">Godkend</button>
    </form><br>



</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>