<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="ml-4 mt-4">
<div>
    <h1>Autocampere Under Vedligeholdelse</h1>
    <a href="/user"><button type="button" class="btn btn-secondary">Tilbage</button></a>
</div>
<br>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Autocamper ID</th>
            <th scope="col">Autocamper Mærke</th>
            <th scope="col">Autocamper Model</th>
            <th scope="col">Vedligeholdelses Rapport Dato</th>
            <th scope="col">Kommentar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="autocamper : ${autocampers}">
            <th:block th:each="maintenance : ${maintenances}">
                <th:block th:if="${autocamper.getId()} == ${maintenance.getAutocamperId()}">
                            <th scope="row" th:text="${autocamper.getId()}"></th>
                            <td th:text="${autocamper.getType().getBrand()}"></td>
                            <td th:text="${autocamper.getType().getModel()}"></td>
                            <td th:text="${maintenance.getDate()}"></td>
                            <td>
                                <a th:href="@{/user/mechComments(id=${maintenance.getId()})}">
                                    <button type="button" class="btn btn-success">Se Kommentar</button>
                                </a>
                            </td>
                        </th:block>
                    </th:block>
            </tr>
        </tbody>
    </table>
</div>
<br><br>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>