body{
    font-family: SB Body,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.border{
    border: #DEE2E6 solid 1px;
}

.border tr td {
    border-right: #DEE2E6 solid 1px;
}

#titel{
    text-align: center;
}



