<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>

    <link rel="stylesheet" type="text/css" href="css\autocamperList.css"/>

    <script src="js\autocamperList.js" type="text/javascript"></script>
    <title>Autocampers</title>
</head>
<body>
            <div class="card" id="accordianTable">
                <button data-target="#filterForm" class="btn btn-primary  card-body" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="filterForm"><i class="fas fa-angle-down fa-lg"></i></button>
                <div class="collapse" id="filterForm">
                <button data-target="#mærker" class="btn btn-primary  card-body" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="mærke">Mærker</button>
                    <table class="card-body collapse" id="mærker">
                        <tr th:each="autoType : ${autoTypes}" class="card-body">
                            <td><span th:text="${autoType.getBrand()}"> </span></td>
                            <td><input type="checkbox" class="autotypes right-align" name="brand" th:value="${autoType.getBrand()}" onclick="brandUpdate()"/></td>
                        </tr>
                    </table>

                <button data-target="#priceSlider" class="btn btn-primary  card-body" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="priceSlider">Priser</button>
                    <div class="card-body collapse" id="priceSlider">
                        <form class="slidecontainer">
                            <p>Pris pr. dag: <span id="price">0</span></p>
                            <input id="slide" class="slider" type="range" min="0" max="500" value="0" oninput="update()" />
                        </form>
                    </div>

                <button data-target="#features" class="btn btn-primary  card-body" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="priceSlider">Indbygget Tilbehør</button>
                    <table class="card-body collapse" id="features">
                        <tr th:each="auto : ${autoTypes}">
                            <td><td th:text="${auto.builtInFeatures}"><input type="checkbox" class=" right-align" name="features" th:value="${autoType.getBuiltInFeatures()}" onclick="featureUpdate()"/></td></td>
                        </tr>
                    </table>
                <button id="search" data-target="#features" class="btn btn-primary  card-body" type="button">Søg</button>
                </div>
        </div>

        <div class="container">
            <div class="row">
                <script>
                    var autocamperPrices = [];
                    var autocamperBrand = [];
                </script>
                <th:block th:each = "autoType, loop : ${autoTypes}">
                    <div class="col-md-4" th:id="${'autocamper_'+loop.index}">
                        <script>
                            var count = [[${loop.index}]];
                            autocamperPrices.push([[${autoType.getPrice()}]]);
                            autocamperBrand.push("[[${autoType.getBrand()}]]");
                        </script>
                        <div class="card mb-4 shadow-sm camperElement">
                            <img src="/img/autocamperPictures/autocamper.png" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"/>
                            <div class="card-body">
                                <p class="badge badge-primary"><span th:text="${autoType.getBrand()}"></span> : <span th:text="${autoType.getModel()}"></span></p>
                                <p class="card-text" th:text="${autoType.getDescription()}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a th:href="@{/autocampers/details(id=${autos[0].getId()})}"><button type="button" class="btn  btn-outline-secondary">View</button></a>
                                    </div>
                                    <small class="text-muted"> <span th:text="${autoType.getPrice()}"></span> <span> Kr/dag</span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
</div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
