<!DOCTYPE html>
<html>

<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
<link href="css/error.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<body>

<h1>Something went wrong! </h1>
<p>Our Engineers are on it</p>

<div  style="width:800px; margin:0 auto;" id="demoObject">
    <h1 id="error" >ERROR</h1>
    <img id="home" class="center" src="../img/error-head-girl.gif">
</div>

<img id="home" class="center" src="../img/error-head-girl.gif">

<a style="" type="button" class="btn btn-lg btn-block btn-dark" href="/">Go Home</a>

</body>
</html>