<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<div class="container">
    <h1 class="display-3">Bekræftelse</h1>

</div>




<div class="container">
    <div class="row"  >

        <!-- heighest column to the left-->

        <div class="col-sm  border border-light rounded table-responsive-xl w-100 p-3">
            <p class="lead">Autocamper Info</p>
            <div >
   				<span>
    				<table class="table">
 						<thead class="alert alert-primary">
  						    <tr>
      						 <th scope="col">Mærke</th>
      						 <th scope="col">Model</th>
     						 <th scope="col">Størrelse</th>
     						 <th scope="col">Pris</th>
    					    </tr>
  							</thead>
	  <tbody>
	    <tr>
	      <td scope="row">Toyota</td>
	      <td>Swift+</td>
	      <td>3m^2</td>
	      <td>200 kr.-</td>
	    </tr>

	  </tbody>
	</table>
	    </span>
            </div>
        </div>


        <!-- heighest column to the right -->
        <div class="col-sm border border-light rounded table-responsive-xl w-100 p-3">
            <p class="lead">Kunde Info</p>
            <div>

    <span >
    	<table class="table">
  <thead class="alert alert-primary">
    <tr>
      <th scope="col">Navn</th>
      <th scope="col">CPR</th>
      <th scope="col">Adresse</th>
      <th scope="col">Telefon</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Johan Nickolajsen</td>
      <td>3452156421</td>
      <td>Opdigtetvej 12, 2. th. </td>
      <td>31004912</td>
      <td>trordupåatdethererenrigtigemail@opdigtet.dk</td>
    </tr>
  </tbody>
</table>
    </span>
            </div>
        </div>


    </div>
</div>


<!-- Nederste række -->
<div class="container rounded table-responsive w-100 p-3">
<span>
	<table class="table">
  <thead class="alert alert-primary">
    <tr>
      <th scope="col">Info</th>
      <th scope="col">Beskrivelse</th>
      <th scope="col">Pris</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Udlejnings Periode</td>
      <td> 22/05/2020 - 1/06/2020</td>
      <td>3912 Kr .-</td>
    </tr>
    <tr>
      <td>Tilbehør</td>
      <td>Jacobgerdrg</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table>
</span>
</div>

<div class="container">
    <a class="btn btn-success" href="/logud">BEKRÆFT</a>
    <a class="btn btn-danger" href="/logud">FORTRYD</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>