<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<span>
    <img src="/img/download jesus(1).png">
    <h1>Mekaniker Siden</h1>
  </span>
<br>


<div class="btn-toolbar d-flex justify-content-around d-flex align-items-center p-5" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a href="/autocamperList">
            <button type="button" class="btn btn-primary">Autocampere</button>
        </a>

    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        <a href="/user/finishedrentals">
            <button type="button" class="btn btn-primary">Afsluttede Udlejninger</button>
        </a>

    </div>
    <div class="btn-group" role="group" aria-label="Third group">
        <a href="">
            <button type="button" class="btn btn-primary">Autocampere Under Vedligeholdelse</button>
        </a>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>