<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">

   <!-- geolocation mapbox  -->

    <script type="text/javascript">
        var map, map2;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map_canvas'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
            map2 = new google.maps.Map(document.getElementById('map_canvas2'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
        }



    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmYBZu0baUdqQaMHM9JTP244CkDztnTNo&callback=initMap"
            async defer></script>
    <title>Udlejnings Info</title>

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
        #map2 {
            height: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

<form action="/rental/addRental" method="post">
    <div class="container">
        <div class="row justify-content-start m-4">
            <div class="col">
                <h1 class="display-3">Udlejnings Info</h1>
            </div>
        </div>

        <div class="container row">
            <!--dates-->
            <div class="col mr-2">
                <div class="mb-3 row w-100">
                    <p class="lead row w-100 card-header border">Start dato og tid</p>
                    <div class="row w-100">
                        <label for="startDate" class="text-muted my-0">Start Udlejningsdato:</label>
                        <input id="startDate" name="startDate" type="datetime-local" class="form-control" >
                    </div>
                </div>
                <div class="row w-100">
                    <p class="lead row w-100 card-header border">Slut dato og tid</p>
                    <div class="row w-100">
                        <label for="endDate" class="text-muted my-0">Slut Udlejningsdato:</label>
                        <input id="endDate" name="endDate" type="datetime-local" class="form-control" >
                    </div>
                </div>
            </div>
            <!-- Accessories -->
            <div class="col ml-2 p-0">
                <p class="lead card-header">Tilbehør</p>
                    <table class="table card-body">
                        <thead class="alert alert-primary">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Type</th>
                                <th scope="col">Pris</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="accessory: ${accessories.keySet()}" >
                                <td><input type="checkbox" name="accessoryCheck" th:value="${accessory.getTypeId()}"></td>
                                <td th:text="${accessory.getName()}">#</td>
                                <td th:text="${accessory.getPrice()}">#</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>


<!--google maps api and adress forms-->
        <div class="container">
            <div class="row">

                <div class="col-sm">

                    <!--  One of three columns-->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Pick-up
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="adress" class="form-control" id="exampleInput" placeholder="Adresse" required>
                    </div>
                <!-- mappen -->
                    <div id="map_canvas" style="width:500px; height:500px; margin-left:12px;"></div>

                </div>

                <div class="col-sm">
                    <!--  One of three columns-->
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" onclick="fun()">
                    <label class="form-check-label" for="defaultCheck1">
                        Drop-off
                    </label>
                    </div>
                    <div class="form-group">
                        <input type="adress" class="form-control" id="exampleInput" placeholder="Adresse" required>
                    </div>
                    <!-- mappen -->
                        <div id="map_canvas2" style="width:500px; height:500px; margin-left:12px;"></div>

                </div>

            </div>
        </div>




        </div>
        <div class="row">
            <button class="btn btn-lg btn-primary" type="submit" >Submit</button>
        </div>

        <ol class="carousel-indicators row" style="position: relative">
            <a href="/rental/customer"><li style="background-color: #1abc9c"></li></a>
            <a href="/rental/rentalDetails"><li class="active" style="background-color: #1abc9c"></li></a>
            <a href="/rental/confirmation"><li style="background-color: #1abc9c"></li></a>
        </ol>
    </div>
</form>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmYBZu0baUdqQaMHM9JTP244CkDztnTNo&callback=initMap"
        async defer></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>